{% extends 'navbar.html' %} {% block content %}
<body>
  <link rel="stylesheet" type="text/css" href="static/styles.css" />
  <link rel="shortcut icon" type="image/jpg" href="static/favicon.ico" />
  <div class="box-primary">
    <h1>Connecting with students</h1>
    <br />
    <div class="class-container" style="background-color: #20292e">
      <img class="rounded" src="static/images/img1.jpeg" alt="tutoring-picture" style="height: 240px; width: 204px" />
      <div class="blank"></div>
      <img class="rounded" src="static/images/img3.jpeg" alt="tutoring-picture" style="height: 204px; width: 240px" />
      <div class="blank"></div>
      <img class="rounded" src="static/images/img2.jpeg" alt="tutoring-picture" style="height: 240px; width: 204px" />
    </div>
  </div>
  <div class="box-secondary">
    <h1 class="altTitle">Who said learning had to be boring?</h1>
    <div class="class-container" style="background-color: #20292e">
      <img class="rounded" src="static/images/img6.jpeg" alt="tutoring-picture" style="height: 204px; width: 240px" />
      <div class="blank"></div>
      <img class="rounded" src="static/images/img5.png" alt="tutoring-picture" style="height: 204px; width: 320px" />
      <div class="blank"></div>
      <img class="rounded" src="static/images/img4.jpeg" alt="tutoring-picture" style="height: 204px; width: 240px" />
    </div>
  </div>
  <div class="box-primary">
    <h1>Unlocking the skills you didn't know you had.</h1>
    <center>
      <p style="color: black; width: 60%">At Dryden Tutoring, we know you are a genius, so we want to teach you to show that to the world. At everyone session we fine tune your skills, so everyday is closer to a symphany. We know it's not going to be easy, but that's what we're here for. So what do you say? Are you ready excel?</p>
    </center>
  </div>
</body>
{% endblock %}
