{% extends 'navbar.html' %} {% block content %}
<div class="box-secondary">
  <center>
    <h1 style="width: 60%">We've Got Some of the Best Tutors!</h1>
  </center>
</div>
<div class="box-primary">
  <h1 style="color: black" class="altTitle">John Garza</h1>
  <h3 style="color: black">This is a description</h3>
</div>
<div class="box-secondary">
  <h1 style="color: black" class="altTitle">Elliot Huang</h1>
  <h3 style="color: white">This is a description</h3>
</div>
<div class="box-primary">
  <h1 style="color: black" class="altTitle">John Dryden</h1>
  <h3 style="color: black">This is a description</h3>
</div>
<div class="box-secondary">
  <h1 style="color: black" class="altTitle">Alex Lizardi</h1>
  <h3 style="color: white">This is a description</h3>
</div>
{% endblock %}
